<div class="container">
  <div class="d-flex justify-content-start align-items-center">
    <div class="d-flex">
      <h4 class="fw-bold" style="color:#0F0F0F;">網站後台</h4>
    </div>
    {{#if user.isAdmin }}
    <div class="ms-5">
      <a class="btn btn-link ps-2 pe-2" href="/users/{{user._id}}" style="text-decoration:none; ">
        <h5 class="fw-bold" style="color: #5179bd;">前台管理</h5>
      </a>
    </div>
    {{/if}}
  </div>
  <div class="d-flex mt-2">
    <a href='/admin/hospitals/create'>
      <button type="button" class="btn btn-outline-primary">新增醫院</button>
    </a>
  </div>
  
  <br />
  <br />
  {{> nav-tabs route='admin/hospitals'}}
  <table class="table align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each hospitals}}
      <tr>
        <th scope="row">{{this._id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.city}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/hospitals/{{this._id}}">
              Show
            </a>
          </button>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/hospitals/{{this._id}}/edit">
              Edit
            </a>
          </button>
          <form action="/admin/hospitals/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-danger" style="text-decoration:none;"
              onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
