<div class="container">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center fs-4 fw-bold" style="color: #2d4c80"><i class="fa-regular fa-hospital"
              style="color: #2d4c80;"></i> 修改醫院資訊</h5>
          <hr>
          <form method="POST" action="/hospitals/{{ hospital._id }}?_method=PUT" enctype="multipart/form-data">
            <div class="row mb-3 g-2">
              <label for="name" class="col-md-4 col-form-label">
                醫院名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" placeholder="請輸入醫院名稱" value="{{ hospital.name }}" required>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="city" class="col-md-4 col-form-label">請選擇城市位置</label>
              <div class="col-md-8">
                <select id="city" class="form-control" name="city">
                  <option value="" disabled style="color: #a5a9b1;" required>縣市名稱</option>
                  <option value="台北市" {{#ifCond hospital.city "台北市"}} selected {{/ifCond}}>台北市</option>
                  <option value="台中市" {{#ifCond hospital.city "台中市"}} selected {{/ifCond}}>台中市</option>
                  <option value="基隆市" {{#ifCond hospital.city "基隆市"}} selected {{/ifCond}}>基隆市</option>
                  <option value="台南市" {{#ifCond hospital.city "台南市"}} selected {{/ifCond}}>台南市</option>
                  <option value="高雄市" {{#ifCond hospital.city "高雄市"}} selected {{/ifCond}}>高雄市</option>
                  <option value="新北市" {{#ifCond hospital.city "新北市"}} selected {{/ifCond}}>新北市</option>
                  <option value="宜蘭縣" {{#ifCond hospital.city "宜蘭縣"}} selected {{/ifCond}}>宜蘭縣</option>
                  <option value="桃園市" {{#ifCond hospital.city "桃園市"}} selected {{/ifCond}}>桃園市</option>
                  <option value="嘉義市" {{#ifCond hospital.city "嘉義市"}} selected {{/ifCond}}>嘉義市</option>
                  <option value="新竹縣" {{#ifCond hospital.city "新竹縣"}} selected {{/ifCond}}>新竹縣</option>
                  <option value="苗栗縣" {{#ifCond hospital.city "苗栗縣"}} selected {{/ifCond}}>苗栗縣</option>
                  <option value="南投縣" {{#ifCond hospital.city "南投縣"}} selected {{/ifCond}}>南投縣</option>
                  <option value="彰化縣" {{#ifCond hospital.city "彰化縣"}} selected {{/ifCond}}>彰化縣</option>
                  <option value="新竹市" {{#ifCond hospital.city "新竹市"}} selected {{/ifCond}}>新竹市</option>
                  <option value="雲林縣" {{#ifCond hospital.city "雲林縣"}} selected {{/ifCond}}>雲林縣</option>
                  <option value="嘉義縣" {{#ifCond hospital.city "嘉義縣"}} selected {{/ifCond}}>嘉義縣</option>
                  <option value="屏東縣" {{#ifCond hospital.city "屏東縣"}} selected {{/ifCond}}>屏東縣</option>
                  <option value="花蓮縣" {{#ifCond hospital.city "花蓮縣"}} selected {{/ifCond}}>花蓮縣</option>
                  <option value="台東縣" {{#ifCond hospital.city "台東縣"}} selected {{/ifCond}}>台東縣</option>
                  <option value="金門縣" {{#ifCond hospital.city "金門縣"}} selected {{/ifCond}}>金門縣</option>
                  <option value="澎湖縣" {{#ifCond hospital.city "澎湖縣"}} selected {{/ifCond}}>澎湖縣</option>
                  <option value="連江縣" {{#ifCond hospital.city "連江縣"}} selected {{/ifCond}} >連江縣</option>
                </select>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="image" class="col-md-4 col-form-label">
                醫院照片
              </label>
              <div class="col-md-8">
                <input type="file" name="image" class="form-control" id="image">
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="address" class="col-md-4 col-form-label">
                地址
              </label>
              <div class="col-md-8">
                <input type="text" name="address" class="form-control" id="address" placeholder="請輸入醫院地址" value="{{ hospital.address}}" required>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="telephone" class="col-md-4 col-form-label">
                電話
              </label>
              <div class="col-md-8">
                <input type="text" name="telephone" class="form-control" id="telephone" placeholder="請輸入電話" value="{{ hospital.telephone}}" required>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="openingHours" class="col-md-4 col-form-label">
                開門時間
              </label>
              <div class="col-md-8">
                <input type="time" name="openingHours" class="form-control" id="openingHours" placeholder="請輸入開店時間" value="{{ hospital.openingHours}}"
                  required>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="closingHours" class="col-md-4 col-form-label">
                關門時間
              </label>
              <div class="col-md-8">
                <input type="time" name="closingHours" class="form-control" id="closingHours" placeholder="請輸入閉店時間" value="{{ hospital.closingHours}}"
                  required>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="website" class="col-md-4 col-form-label">
                醫院網站
              </label>
              <div class="col-md-8">
                <input type="website" name="website" class="form-control" id="website" placeholder="請輸入醫院網址" value="{{hospital.website}}" required> 
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="hasER" class="col-md-4 col-form-label">
                是否提供急診服務
              </label>
              <div class="col-md-8">
                <select name="hasER" id="hasER" class="form-control">
                  <option value="" disabled required>是否有急診</option>
                  <option value="true" {{#ifCond hospital.hasER true}} selected {{/ifCond}}>是</option>
                  <option value="false" {{#ifCond hospital.hasER false}} selected {{/ifCond}}>否</option>
                </select>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="description" class="col-md-4 col-form-label">
                醫院簡介
              </label>
              <div class="col-md-8">
                <textarea type="text" name="description" class="form-control" id="description" rows="5" cols="20"
                  required>{{ hospital.description}}</textarea>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-end mb-2 mt-5 g-2">
              <button class="btn btn-success ms-2" type="submit">Save</button>
              <a href="javascript:history.back()" type="button" class="btn btn-light ms-5">Back</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>